<div class="col-xs-12 col-md-8 gestioncompte" >
	<div class="panel-group" id="moncompte">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<div class="etapes">
						Mes informations personnelles
						<i class="fa fa-angle-down arrow" aria-hidden="true"></i>
					</div>
				</h4>
			</div>
			<div id="info-perso" class="panel-collapse collapse in">
				<div class="panel-body">
					<div class="col-lg-6 col-xs-12">
						<div class="">
							<div class="bold">
								Prénom
							</div>
							<div class="margin-information">
								{{ app.user.firstname }}
								<br>
								<a href="#prenomModfier"  data-toggle="collapse" class="bouton-modifié-moncompte">Modifier</a>
							</div>
							<div id="prenomModfier" class="form-group collapse" aria-expanded="true">
								<div class="alert alert-success hide">
									votre Prénom a été prise en compte
								</div>
								<div class="alert alert-danger hide">
									Erreur de traitement; impossible de prendre en compte votre demande
								</div>
								<label for="validate-optional">Prénom</label>
								<div class="input-group">  
									<input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer" placeholder="Prénom" autocomplete="off">
									<span class="input-group-addon danger background-green color-white">
										OK</span>

								</div>
							</div>
						</div>
						<div class="">
							<div class="bold">
								Nom
							</div>
							<div class="margin-information">
								{{ app.user.name }}
								<br>
								<a href="#nomModifier" class="bouton-modifié-moncompte" data-toggle="collapse">Modifier</a>
							</div>
							<div id="nomModifier" class="form-group collapse" aria-expanded="true">
								<div class="alert alert-success hide">
									votre Nom a été prise en compte
								</div>
								<div class="alert alert-danger hide">
									Erreur de traitement; impossible de prendre en compte votre demande
								</div>
								<label for="validate-optional">Nom</label>
								<div class="input-group">  
									<input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer" placeholder="Nom" autocomplete="off">
									<span class="input-group-addon danger background-green color-white">
										OK</span>
								</div>
							</div>
						</div>
						<div class="">
							<div class="bold">
								Addrese de facturation
							</div>
							<div class="margin-information">
								{% if app.user.address is not null %}
									{{ app.user.address.address }}
								{% else %}
									addresse de facturation non défini.
								{% endif %}
								<br>
								<a href="#Adressmodifer" class="bouton-modifié-moncompte"
									data-toggle="collapse">Modifier</a>
							</div>
							<div id="Adressmodifer" class="form-group collapse" aria-expanded="true">
								<div class="alert alert-success hide">
									votre Adresse de facturation a été prise en compte
								</div>
								<div class="alert alert-danger hide">
									Erreur de traitement; impossible de prendre en compte votre demande
								</div>
								<label for="validate-optional">Adresse</label>
								<div class="input-group">  
									<input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer" placeholder="Indiquez un lieu" autocomplete="off">
									<span class="input-group-addon danger background-green color-white">
										OK</span>

									</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-xs-12">
						<div class="">
							<div class="bold">
								E-mail
							</div>
							<div class="margin-information">
								{{ app.user.email }}
								<br>
								<a href="#emailModifier" class="bouton-modifié-moncompte" data-toggle="collapse">Modifier</a>
							</div>
									<div id="emailModifier" class="form-group collapse" aria-expanded="true">
										<div class="alert alert-success hide">
											votre Email a été prise en compte
										</div>
										<div class="alert alert-danger hide">
											Erreur de traitement; impossible de prendre en compte votre demande
										</div>
										<label for="validate-optional">E-mail</label>
										<div class="input-group">  
											<input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer" placeholder="Email" autocomplete="off">
											<span class="input-group-addon danger background-green color-white">
											OK</span>

										</div>
									</div>
						</div>
						<div class="">
							<div class="bold">
								Mot de passe
							</div>
							<div class="margin-information">
								************
								<br>
							<a href="#passwordModifer" data-toggle="collapse" class="bouton-modifié-moncompte">Modifier</a>
							</div>
							<div id="passwordModifer" class="form-group collapse" aria-expanded="true">
								<div class="alert alert-success hide">
									votre mot de passe a été prise en compte
								</div>
								<div class="alert alert-danger hide">
									Erreur de traitement; impossible de prendre en compte votre demande
								</div>
								<label for="validate-optional">Mot de passe</label>
									<div class="input-group">  
										<input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer" placeholder="*********" autocomplete="off">
										<span class="input-group-addon danger background-green color-white">
										OK</span>
									</div>
								</div>
						</div>
						<div class="bold">
							Votre solde
						</div>
						<div class="margin-information">
							{{ app.user.cashBalance }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<a data-toggle="collapse" href="#solde-compte">
			<div class="panel-heading">
				<h4 class="panel-title">
					<div class="etapes">
							Recharger mon compte
						<i class="fa fa-angle-down arrow" aria-hidden="true"></i>
					</div>
				</h4>
			</div>
		</a>
		<div id="solde-compte" class="panel-collapse collapse">
			<div class="panel-body">
				<div class="panel with-nav-tabs panel-default">
					<div class="panel-heading">
						<ul class="nav nav-tabs">
							<li class="active col-lg-4 col-xs-12 tab">
								<a href="#cartecb" data-toggle="tab">
									<img src="{{ asset('img/tunnelCommande/cartecb.png') }}" alt="">
								</a>
							</li>
							<li class="col-lg-4 col-xs-12 tab">
								<a href="#paypal" data-toggle="tab">
									<img src="{{ asset('img/tunnelCommande/paypal.png') }}" alt="">
								</a>
							</li>
							<li class="col-lg-4 col-xs-12 tab">
								<a href="#applepay" data-toggle="tab">
									<img src="
									{{ asset ('img/tunnelCommande/applepay.png') }}" alt="">
								</a>
							</li>
						</ul>
					</div>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane fade in active" id="cartecb">

								{{ form_start(form) }}
    							{{ form_errors(form) }}
    								<div class="bold col-lg-6 margin-cb">
{# 									Nom du titulaire de la carte
										<input type="nomcb" class="form-control paiement" id="nomcb" placeholder="Nom Prénom"> #}
                    					{{ form_label(form.name) }}
                    					{{ form_errors(form.name) }}
                    					{{ form_widget(form.name) }}
 									</div>
								<div class="bold col-lg-6 margin-cb ">
{# 									Numéro Carte
									<input type="numerocb" class="form-control paiement" id="numerocb" placeholder="Numéro de la carte"> #}
                    				{{ form_label(form.numberCards) }}
                    				{{ form_errors(form.numberCards) }}
                    				{{ form_widget(form.numberCards) }}
								</div>
								<div class="clear-both"></div>
								<div class="bold">
									<div class="col-lg-12">
										Date d'expiration
									</div>
									<div class="col-lg-6 moiscb">
                    					{{ form_widget(form.dateExpiration.day,{ 'attr': { 'style': 'display:none' } } ) }}

										{{ form_label(form.dateExpiration.month,'Mois') }}
                    					{{ form_errors(form.dateExpiration.month) }}
                    					{{ form_widget(form.dateExpiration.month) }}
									</div>
									<div class="col-lg-6 moiscb">
										{{ form_label(form.dateExpiration.year,'Année') }}
                    					{{ form_errors(form.dateExpiration.year) }}
                    					{{ form_widget(form.dateExpiration.year) }}
									</div>
								</div>
								<div class="clear-both"></div>
								<div class="bold col-lg-6">
									Code de Sécurité
								{{ form_errors(form.securityCode) }}
								{{ form_widget(form.securityCode, {'attr': {'class':'paiement','id':'cryptogramme'}}) }}
								</div>
								<div class="bold col-lg-3">
									Solde a créditer
								{{ form_errors(form.solde) }}
 								{{ form_widget(form.solde, {'attr': {'step':1,'min':1 ,'class':'paiement'}}) }}

 								</div>

								<div class="col-lg-3 div-bouton-validation">
									 {{ form_row(form.save, { 'label': 'Valider','attr':{'class':'btn btn-green bouton-paiement'} }) }}

								</div>
								{{ form_errors(form) }}
								{{ form_end(form) }}

							</div>
							<!--PAYPAL-->
							<div class="tab-pane fade" id="paypal">
								<div class="">
									Vous autorisez Meal and Box à vous débiter automatiquement lors de votre commande. <br />
									Cliquez sur le bouton ci-dessous pour vous connecter et payer avec votre compte Paypal. <br />
									Pour consulter les Conditions générales d'utilisation et les modalités d'annulation, <a href="#">cliquez ici</a>.
								</div>

								<div class="bold col-lg-4 padding-top-credit">
									Solde a créditer
									<input type="number" step="1" value="0" min="0" max="50"  class="form-control paiement">
								</div>
								<div class="col-lg-8 paypal-bouton padding-top-credit">
									<button type="button" class="btn btn-green bouton-paypal">Continuer</button>
								</div>
							</div>

							<!--ApplePay-->
							<div class="tab-pane fade" id="applepay">
								<div class="">
									Si vous êtes équipés d'un appareil compatible avec la fonctionnalité "Apple Pay"
									cliquez sur le bouton ci-dessous.
								</div>

								<div class="bold col-md-4 padding-top-credit">
									Solde a créditer
									<input type="number" step="1" value="0" min="0" max="50"  class="form-control paiement">
								</div>
								<div class="col-md-8 paypal-bouton padding-top-credit">
									<button type="button" class="btn btn-green bouton-paypal">Continuer</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
