  {% for posts in listeposts %}
<div class="col-md-4" style="margin-top:15px;">
  <article>
    {% set count = 0 %}
      {% for image in posts.images %}
        {% if count == 0 %}
          <img class="img-responsive" src="{{ asset(image.path) }}" alt="{{ image.alt }}"/>
        {% endif %}
        {% set count = 1 %}
      {% endfor %}
    <h3>{{ posts.title }} </h3>
    <p class="DateArticle">{{ posts.datepublish|date("d/m/Y h:m")}}</p>
    <p class="ContenuArticle">{{ posts.content }}</p>
    <a href="{{ path('actualitydetailpage',{'id':posts.id}) }}">Lire la suite</a>
  </article>
</div>
{% endfor %}
