{{ form_start(form) }}
{{ form_errors(form) }}

<div class="input-group">
	{{ form_label(form.name) }}
	{{ form_errors(form.name) }}
	{{ form_widget(form.name) }}
</div>

<div class="input-group">
	{{ form_label(form.description) }}
	{{ form_errors(form.description) }}
	{{ form_widget(form.description) }}
</div>

<div class="input-group">
	{{ form_label(form.composition) }}
	{{ form_errors(form.composition) }}
	{{ form_widget(form.composition) }}
</div>

<div class="input-group">
	{{ form_label(form.prix) }}
	{{ form_errors(form.prix) }}
	{{ form_widget(form.prix) }}
</div>

<div class="input-group">
	{{ form_label(form.active) }}
	{{ form_errors(form.active) }}
	{{ form_widget(form.active) }}
</div>
<div class="input-group">
	{{ form_label(form.images) }}
	{{ form_errors(form.images) }}
	{{ form_widget(form.images) }}
	<div id="containeraddimage"></div>
	<div id="add_image" class="btn btn-default">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
			Ajouter une photo
	</div>
</div>
<div class="input-group">
	{{ form_label(form.allergenes) }}
	{{ form_errors(form.allergenes) }}
	{{ form_widget(form.allergenes) }}
	<div id="containeraddallergene"></div>
	<div id="add_allergene" class="btn btn-default">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
				Ajouter un allergene
	</div>
</div>

<div class="input-group">
	{{ form_label(form.categories) }}
	{{ form_errors(form.categories) }}
	{{ form_widget(form.categories) }}
	<div id="containeraddcategorie"></div>
	<div id="add_categorie" class="btn btn-default">
		<i class="fa fa-plus-circle" aria-hidden="true"></i>
				Ajouter une categorie
	</div>
</div>

<div >
	{{ form_widget(form.save) }}
</div>

{{ form_end(form) }}