{% set total = 0%}
{% if listOrderLine is not null %}
  {% for orderLine in listOrderLine %}
    {% if orderLine.product is not null %}
      {% set total = total + (orderLine.quantity * orderLine.product.prix) %}
      {% else %}
        {% set total = total + (orderLine.quantity * orderLine.menu.prix) %}
        {% endif %}
      {% endfor %}
    {% endif %}
    <div {% if totalCommande == 0 %}
    class="col-xs-12 col-md-8"
  {% else %}
    class="col-xs-12"{% endif %}>
    <div class="panel-group" id="tunnel">
      <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#tunnel" href="#livraison">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="etapes">
                Etape 1 - Livraison
                <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
              </div>
            </h4>
          </div>
        </a>
        <div id="livraison" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="col-xs-12 col-md-6">
              <div class="bold">
                Adresse de livraison
              </div>
              {{ app.user.relais.coordonates.address }}
            </br>
            <a href="#selectRelais" data-toggle="collapse">Modifier</a>
            <div id="selectRelais" class="form-group collapse">
              <div class="alert alert-success">
                Adresse de facturation prise en compte
              </div>
              <div class="alert alert-danger">
                Erreur de traitement; impossible de prendre en compte
              </div>
                              <label for="sel1">Relais:</label>

              <div class="form-group">
                <select class="form-control" style="width:auto;float:left;" id="sel1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
                <button class="btn btn-green" >Ok</button>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <div class="bold">
                Adresse de facturation
              </div>
              {% if app.user.address is not null %}
                {{ app.user.address }}
              {% else %}
                Aucune adresse de facturation renseigné
              {% endif %}
              <a href="#Adressmodifer" data-toggle="collapse">Modifier</a>
              <div id="Adressmodifer" class="form-group collapse">
                <div class="alert alert-success">
                  <strong>Success!</strong>Adresse de facturation prise en compte
                </div>
                <div class="alert alert-danger">
                  <strong>Warning!</strong>Erreur de traitement; impossible de prendre en compte
                </div>
                <label for="validate-optional">Adresse</label>
                <div class="input-group">  
                  <input type="text" class="form-control" id="inputAdressmodifer" name="inputAdressmodifer"/>
                  <span class="input-group-addon danger">
                    OK</span>

                  </div>
                </div>
              </div>
              <div class="col-xs-12 commanderetrait">
                <div class="bold">
                  Heure de retrait de commande
                </div>
                {{ app.user.relais.opening.timedelivry|date("H:i") }}
                <br /><br />
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
        <a data-toggle="collapse" data-parent="#tunnel" href="#paiement">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="etapes">
                Etape 2 - Paiement
                <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
              </div>
            </h4>
          </div>
        </a>
        <div id="paiement" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="panel with-nav-tabs panel-default">
              <div class="panel-heading">
                <ul class="nav nav-tabs">
                  <li class="active col-xs-6 col-md-3 text-center tab">
                    <a href="#cartecb" data-toggle="tab">
                      <img class="img-responsive" src="{{ asset('img/tunnelCommande/cartecb.png') }}" alt="">
                    </a>
                  </li>
                  <li class="col-xs-6 col-md-3 text-center tab">
                    <a href="#paypal" data-toggle="tab">
                      <img class="img-responsive" src="{{ asset('img/tunnelCommande/paypal.png') }}" alt="">
                    </a>
                  </li>
                  <li class="col-xs-6 col-md-3 text-center tab">
                    <a href="#applepay" data-toggle="tab">
                      <img class="img-responsive" src="{{ asset('img/tunnelCommande/applepay.png') }}" alt="">
                    </a>
                  </li>
                  <li class="col-xs-6 col-md-3 text-center tab">
                    <a href="#porte-feuille" data-toggle="tab">
                      <img class="img-responsive" src="{{ asset('img/tunnelCommande/wallet.png') }}" alt="">
                    </a>
                  </li>
                </ul>

              </div>
              <div class="panel-body">
                <div class="tab-content">
                  <div class="tab-pane fade in active" id="cartecb">
                    {{ form_start(form) }}
                    <div class="bold col-xs-12 col-md-6">
                      {{ form_label(form.name) }}
                      {{ form_errors(form.name) }}
                      {{ form_widget(form.name) }}
                    </div>
                    <div class="bold col-xs-12 col-md-6">
                        {{ form_label(form.numberCards) }}
                        {{ form_errors(form.numberCards) }}
                        {{ form_widget(form.numberCards) }}
                    </div>
                    <div class="clear-both"></div>
                    <div class="bold">
                      <div class="col-xs-12 col-md-6 moiscb">
                        {{ form_label(form.securityCode) }}
                        {{ form_errors(form.securityCode) }}
                        {{ form_widget(form.securityCode) }}
                     </div>
                   </div>
                   <div class="clear-both"></div>
                   <div class="bold col-xs-12 col-md-6">
                        {{ form_label(form.dateExpiration) }}
                        {{ form_errors(form.dateExpiration) }}
                        {{ form_widget(form.dateExpiration) }}
                  </div>

                  {#  div-bouton-validation #}
                    {{ form_end(form) }}

                </div>
                <!--PAYPAL-->
                <div class="tab-pane fade" id="paypal">
                  <div class="">
                    Vous autorisez Meal and Box à vous débiter automatiquement lors de votre commande. <br />
                    Cliquez sur le bouton ci-dessous pour vous connecter et payer avec votre compte Paypal. <br />
                    Pour consulter les Conditions générales d'utilisation et les modalités d'annulation, <a href="#">cliquez ici</a>.
                  </div>
                  <div class="col-lg-12 paypal-bouton">
                    <div id="bouton-paypal-container"></div>
                  </div>
                </div>

                <!--ApplePay-->
                <div class="tab-pane fade" id="applepay">
                  Si vous êtes équipés d'un appareil compatible avec la fonctionnalité "Apple Pay"
                  cliquez sur le bouton ci-dessous.
                  <div class="col-lg-12 paypal-bouton">
                    <button type="button" class="btn btn-green bouton-paypal">Continuer</button>
                  </div>
                </div>

                <div class="tab-pane fade" id="porte-feuille">
                  <div class="">
                    <br />
                    Solde avant commande : {{ app.user.cashBalance }}€ <br /> <br />
                    Solde après commande : 4€
                  </div>
                  <div class="col-lg-12">
                    <button type="button" class="btn btn-green btn-perso" {% if app.user.cashBalance < total %} disabled {% endif %}>Continuer</button>
                    <a href="{{ path('comptepage')}}"><button type="button" class="btn btn-primary btn-perso">Reapprovisionnement</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if valideCommande %}
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#tunnel" href="#resume">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="etapes">
              Etape 3 - Confirmation
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </div>
          </h4>
        </div>
      </a>
      <div id="resume" class="panel-collapse collapse">
       <div class="panel-body">
         Votre commande n°<b>{{ orderclient.id }}</b> d'une valeur de <b>{{ totalCommande }}</b> a bien été prise en compte. <br/>
         Vous recevrez dans les 5 minutes qui suivent un mail de confirmation.<br/>
         Grâce à votre commande, vous avez accumulé <b>{{ ptsFideleCommande }}</b> points de fidélité pour un total de <b>{{ app.user.rewardPoints }} </b>.<br/>
         Merci d'avoir commandé chez Meal & Box, nous vous souhaitons un bon appétit
         <div class="col-lg-12 paypal-bouton">
          <a href="{{ path('downloadorder',{id:orderclient.id}) }}"><button type="button" class="btn btn-green btn-fin-validation">Telecharger ma facture</button></a>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
    </div>


  </div>
