  <div class="col-xs-12 col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="etapes">
              Résumé du panier
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </div>
          </h4>
        </div>
      <div id="panier" class="">
        {% for orderLine in listOrderLine %}
        <div class="panel-body">
          <div class="col-md-6">
            {% for image in orderLine.product.images%}
            <img src="{{ asset('image.path') }}" alt="{{ image.alt }}" class="img-responsive">
            {% endfor %}
          </div>
          <div class="col-md-6">
            <div class="bold">
            {{ orderLine.product.name }}
              </div>
            Quantité : {{ orderLine.quantity }}
             <br />
            <p class="product-price"> Prix : {{ orderLine.product.prix}}</p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="etapes total">
            Total : 11€
          </div>
        </h4>
      </div>
    </div>
  </div>