  <div class="col-xs-12 col-md-4" style="margin-top: 55px;">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="etapes">
              Résumé du panier
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </div>
          </h4>
        </div>
      <div id="panier" class="">
        {% for orderLine in listOrderLine %}
        <div class="panel-body">
          <div class="col-md-6">
            {% set count = 0 %}
            {% if orderLine.product is not null %}
              {% for image in orderLine.product.images %}
                {% if count == 0 %}
                  <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-responsive">
                {% set count = 1 %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
          <div class="col-md-6">
            <div class="bold">
            {% if orderLine.product is not null %}
              {{ orderLine.product.name }}
            {% else %}
              {{ orderLine.menu.name }}
            {% endif %}
              </div>
            Quantité : {{ orderLine.quantity }}
             <br />
            <p class="product-price"> Prix :
            {% if orderLine.product is not null %}
              {{ orderLine.product.prix}}
            {% else %}
              {{ orderLine.menu.prix}}
            {% endif %}
            </p>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="etapes total">
            {% set total = total|split('.') %}
            Total : <span id="total-price">{{ total|join('€') }}</span>
          </div>
        </h4>
      </div>
    </div>
  </div>
