  <div class="col-xs-12 col-md-4" style="margin-top: 55px;">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <div class="etapes">
              Résumé du panier
              <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
            </div>
          </h4>
        </div>
      <div id="panier" class="">
        {% set total = 0%}
        {% for orderLine in listOrderLine %}
        <div class="panel-body">
          <div class="col-md-6">
            {% set count = 0 %}
            {% for image in orderLine.product.images %}
              {% if count == 0 %}
              <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-responsive">
              {% set count = 1 %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="col-md-6">
            <div class="bold">
            {{ orderLine.product.name }}
              </div>
            Quantité : {{ orderLine.quantity }}
             <br />
            <p class="product-price"> Prix : {{ orderLine.product.prix}}</p>
          </div>
        </div>
        {% set total = total + (orderLine.quantity * orderLine.product.prix) %}
      {% endfor %}
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <div class="etapes total">
                  {% set total = total|split('.') %}

            Total : {{ total|join('€') }}
          </div>
        </h4>
      </div>
    </div>
  </div>
