
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default detail-commande">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Commande du {{ order.datePurchase|date("d/m/Y") }}</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr>
                                            <td class="text-center"><strong>Produit</strong></td>
                                            <td class="text-center"><strong>Prix</strong></td>
                                            <td class="text-center"><strong>Quantit&eacute;</strong></td>
                                            <td class="text-center"><strong>Sous-Total</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                        {% set total = 0 %}
                                        {% set totalCommande = 0 %}
                                        {% for orderline in order.orderLine %}
                                        	{% set total = orderline.quantity * orderline.product.prix %}
                                        	{% set totalCommande = totalCommande + total %}


                                        <tr>
                                            <td class="col-md-4 text-center">
                                                <div class="media">
                                                    <div class="media-body description-commande">
                                                        {{ orderline.product.name }}
                                                    </div>
                                                    {% set count = 0 %}
                                                    {% for image in orderline.product.images %}
                                                        {% if count == 0 %}
                                                    <img class="media-object" src="{{ absolute_url(asset(image.path)) }}" style="margin:auto;width: 72px; height: 72px;">
                                                        {% endif %}
                                                    {% set count = 1 %}
                                                    {% endfor %}
                                                </div>
                                            </td>
                                            <td class="text-center">{{ orderline.product.prix }}</td>
                                            <td class="text-center">{{ orderline.quantity }}</td>
                                            <td class="text-center">{{ total }}</td>
                                        </tr>
                                    	{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                  <div class="">

                <div class="col-xs-4">
                  <div class="panel panel-default">
                    <div class="panel-heading type-paiement">
                        <h3 class="panel-title"><strong>Type de Paiement</strong></h3>
                    </div>
                    <div class="panel-body">
                        Moyen de paiement choisi : <strong>Paypal</strong>.
                    </div>
                  </div>
                </div>


                <div class="pull-center col-xs-4 text-center">
                    <a href="{{ path('downloadorder',{id:order.id}) }}"><button class="btn btn-green">Telecharger</button><a>
                </div>

                <div class="pull-right col-xs-4">
                  <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Total</strong></h3>
                    </div>
                    <div class="panel-body">
                        Prix : {{ totalCommande }}.
                    </div>
                  </div>
                </div>
                </div>

                </div>

            </div>
