<div class="col-md-4 col-xs-12 gestioncompte" id="historycommande">
        <div class="panel panel-default">
          <a data-toggle="collapse" data-parent="#  " href="#panier">
          <div class="panel-heading">
            <h4 class="panel-title">
              <div class="etapes">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Historique de commande
                <i class="fa fa-angle-down arrow" aria-hidden="true"></i>
              </div>
            </h4>
          </div>
        </a>
          <div id="panier" class="panel-collapse collapse in">
            <div class="panel-body">
                {% for order in listOrder %}
                <a href={{ path('historyCommande',{id : order.id }) }}>
                <div class="bold">
                   Commande du {{ order.datePurchase|date("m/d/Y H:i") }}
                  <div class="prix-historique-commande">
                    {{ order.total }}
                  </div>
                 
                </div>
                </a>
              {% endfor %}
            </div>
            {% if pagination.nbPages > 0 %}

                <ul class="pagination">
                        {% if pagination.page > 1 %}
                            <li>
                                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}">
                                    <<
                                </a>
                            </li>
                            <li>
                                <a href="{{ path(pagination.nomRoute,
                                pagination.paramsRoute|merge({'page': pagination.page-1})) }}">
                                    <
                                </a>
                            </li>
                        {% endif %}

                        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
                        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
                            <li {% if p == pagination.page %}class="active"{% endif %}>
                                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}">
                                    {{ p }}
                                </a>
                            </li>
                        {% endfor %}

                        {% if pagination.page < pagination.nbPages %}
                            <li>
                                <a href="{{ path(pagination.nomRoute,
                                pagination.paramsRoute|merge({'page': pagination.page+1})) }}">
                                    >
                                </a>
                            </li>
                            <li>
                                <a href="{{ path(pagination.nomRoute,
                                pagination.paramsRoute|merge({'page': pagination.nbPages})) }}">
                                    >>
                                </a>
                            </li>
                        {% endif %}
                </ul>

            {% endif %}

          </div>
        </div>
      </div>
