
<div class="panier">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading global">
        <h3 class="panel-title"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Mon panier</h3>
      </div>
      <div class="panel-body">
        <div class="command-list">
          <!-- PRODUIT -->        
            {% set total = 0 %}
            {% if listOrderLine|length > 0 %}
                {% for orderline in listOrderLine %}
                    {% set total = total + (orderline.quantity * orderline.prix) %}
                    <div class="command-list-item">
                        <div class="command-list-item-desc col-lg-9 col-md-9">
                            <figure class="command-list-item col-lg-3 col-md-3 col-sm-6">
                            {% set count =  0 %}
                            {% if orderline.product is not null  %}
                              {% for image in orderline.product.images %}
                                {% if count == 0 %}
                                    <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-responsive">
                                {% endif %} 
                                {% set count = 1 %}
                              {% endfor %}
                            {% else %}
                               {% for image in orderline.menu.images %}
                                  {% if count == 0 %}
                                    <img src="{{ asset(image.path) }}" alt="{{ image.alt }}" class="img-responsive">
                                  {% endif %} 
                                {% set count = 1 %}
                                {% endfor %}
                            {% endif %}
                            </figure>
                            <div class="panel panel-default col-lg-9 col-md-9 col-sm-6">
                                <div class="panel-heading">
                                    {% if orderline.product is not null  %}
                                      <h3 class="panel-title">{{ orderline.product.name }}</h3>
                                    {% else %}
                                      <h3 class="panel-title">{{ orderline.menu.name }}</h3>
                                    {% endif %}
                                </div>
                                <div class="panel-body">
                                      {% if orderline.product is not null  %}
                                        {{ orderline.product.description }}
                                      {% else %}
                                        {{ orderline.menu.description }}
                                      {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="command-list-item-price col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="item-price-col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <p class="product-price">
                                  {% if orderline.product is not null  %}
                                    {% set prix = orderline.product.prix|split('.') %}
                                      {{ prix[0] }}€{{ prix[1] }}
                                  {% else %}
                                      {% set prix = orderline.menu.prix|split('.') %}
                                      {{ prix[0] }}€{{ prix[1] }}
                                  {% endif %}                                  
                                </p>
                            </div>
                            <div class="item-price-col col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                {% if orderline.product is not null  %}
                                <input type="number"  class="form-control quantity" value="{{ orderline.quantity }}" min="1"  step="1" required="required" data-product="{{ orderline.product.id }}">
                                {% else %}
                                  <input type="number"  class="form-control quantity" value="{{ orderline.quantity }}" min="1"  step="1" required="required" data-product="{{ orderline.menu.id }}">
                                {% endif %}
                            </div>
                            {% if orderline.product is not null  %}
                              <div data-product="{{ orderline.product.id }}" class="item-price-col delete-product col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            {% else %}
                            <div data-menu="{{ orderline.menu.id }}" class="item-price-col delete-product col-lg-4 col-md-4 col-sm-4 col-xs-4">  
                            {% endif %}
                                   <i class="fa fa-trash"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                    <hr>
                    <div class="command-list-item">
                          {% set points = 0 %}
                            {% set points = total / 10  %}
                              <p class="fidelite-gain">
                                Cette commande vous rapporte <span class="fidelite-pts">{{ points |round(1, 'common') }}</span> points de fidélité.</p>
                                <p class="fidelite-total">Points de fidélité restants : 
                                  <span class="fidelite-pts">{{ app.user.rewardPoints }}  </span><span class="fidelite-prix">points ({{ app.user.rewardPoints / 10  }}</span> €)</p>
                                  <p><a href="#">Utilisez vos points de fidélité !</a></p>
                                </div>
                              {% else %}
                                <p>
                                  Votre panier est vide.
                                </p>
                              {% endif %}

                            </div>
                          </div>
                          <div class="panel-footer">
                            <p class="command total-price">Total : <label class="price">
                              {% set total = total|split('.') %}
                                {{ total|join('€') }}
                              </label></p>

                              <a href="{{ path('commandepage') }}" class="btn btn-success command" {% if listOrderLine == 0 %}disabled {% endif %}>Commander</a>
                            </div>
                          </div>
                        </div>
                      </div>