{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}

{# <link rel="stylesheet" type="text/css" href="{{ asset('css/header.css') }}"/> #}

<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"/>

<link rel="stylesheet" type="text/css" href="{{ asset('css/carrousel.css') }}"/>

<link rel="stylesheet" type="text/css" href="{{ asset('css/recherchecp.css') }}"/>

{% endblock stylesheets %}


{% block javascripts %}

    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ asset('js/monjs.js') }}"></script>

{% endblock javascripts %}

{% block body %}

    <h1>Florentin</h1>

    <div class="container-fluid">
        <h1>Hello World</h1>
        <h1>Fry Kelevra</h1>
        <h2>NUL ! T'as mis 3 h1 !</h2>

        {% block header %}
        {% include 'CoreCoreBundle:Default:header.html.twig' %}
        {% endblock header %}
    </div>
    <div class="container">

    <div class="row">
        <div class="col-xs-22 col-md-6">
            {% block produit %}
                {% include 'CoreCoreBundle:Produit:produit.html.twig' %}
            {% endblock %}
        </div>
    </div>

{% endblock body %}
