  <header>
    <nav class="navbar navbar-default  color-black background-yellow uppercase row" role="navigation">

        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed background-yellow navbar-left" data-toggle="collapse" data-target="#header" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
              <img alt="Brand" src="img/logo/logo-brand.png">
          </a>
          {% if is_granted('ROLE_USER') %}

              <div class="navbar-right">
                  <div class="btn btn-white">
                      <i class="fa fa-user fa-2x" aria-hidden="true"></i><br>
                      <div class="containertext">
                          Compte
                      </div>
                  </div>

                  <div class="btn btn-white">
                      <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><br>
                      <div class="containertext">
                          Panier
                      </div>
                  </div>

              </div>
            {% else %}
                 <div class="btn btn-green display-desktop">
                      <div class="containertext">
                        Connexion
                      </div>
                  </div>
          {% endif %}
      </div>

      <div class="collapse navbar-collapse color-black" id="header">

        <ul class="navmenu nav navbar-nav navbar-left">
            {% if is_granted('ROLE_USER') %}
            <div class="btn btn-green">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                <div class="containertext">
                    Villeneuve d'Ascq
                </div>
            </div>
            <div class="btn btn-blackborder">
                <p class="txtborder">Points de fidélité</p>
                <div class="containertext">
                  {{ app.user.rewardPoints }}
                </div>
            </div>
            {% else %}
            <div class="btn btn-green">
                <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                <div class="containertext">
                  choissiez votre</br> point relais
                </div>
            </div>
            {% endif %}
      <li class="active">
        <a href="{{ path('homepage') }}">Accueil</a>
    </li>
    <li>
        <a href="{{ path('productpage') }}">Nos produits</a>
    </li>
    <div class="logo">
        <img class="img-responsive" src="img/logo/logo.png">
    </div>
    <li>
        <a href="{{ path('actualitypage') }}">Actualités</a>
    </li>
    <li>
        <a href="{{ path('contactpage') }}">Contact</a>
    </li>
    {% if is_granted('ROLE_USER') %}
    <div class="btn btn-black">
        2 <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
        <div class="containertext">
            Panier
        </div>
    </div>
    <div class="btn btn-green">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <div class="containertext">
            Mon compte
        </div>
    </div>
    {% else %}
    <div class="btn btn-green">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
        <div class="containertext">
            Connexion
        </div>
    </div>
    {% endif %}
</ul>
</div>
</nav>

</header>