{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}"/>
{% endblock stylesheets %}
{% block body %}


{% block navabar %}
{% include 'AdminAdminBundle:Default:sidebar.html.twig' %}
{% endblock navabar %}
<div class="col-sm-9">
<div class="row">
    <div class="col-xs-12 text-center">
                  <h1>Gestion des utilisateurs</h1>
    </div>
</div>
<div class="row">
{% block search %}
{% include 'AdminAdminBundle:Default:search.html.twig' %}
{% endblock %}
</div>
{% block tableusers %}
{% include 'AdminAdminBundle:UsersEmployee:tableusers.html.twig' %}
{% endblock %}
</div>
{% endblock body %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/Default/ajax.js') }}"></script>
<script src="{{ asset('js/Admin/tabControl/tablecontrol.js') }}"></script>
<script src="{{ asset('js/Admin/Users/listusers.js') }}"></script>

{% endblock %}
