{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('css/sidebar.css') }}"/>
{% endblock stylesheets %}
{% block body %}



{% block navabar %}
{% include ':templateAdmin:sidebar.html.twig' %}
{% endblock %}
<div class="col-sm-9">
<div class="row">
{% block search %}
{% include ':templateAdmin:search.html.twig' %}
{% endblock %}
</div>
<div class="col-xs-12">
<div class="row">
                  <h1>Welcome To Dashboard Panel :)</h1>
</div>
<div class="row">

                            <p>
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.this  is test text.this  is test text.
                        this  is test text.this  is test text.
                    </p> 

</div>
{% for flash_message in app.session.flashBag.get('delete') %}
    <div class="row">
    <div class="label label-success">
        {{ flash_message }}
    </div>
</div>
{% endfor %}     
    <table id="example" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>
                    First name 
                    <a href="{{ path('admin_utilisateurs',{'page': app.request.get('page'),'filter':"firstnameup" }) }}"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </th>
                <th>
                    Last name
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </th>
                <th>
                    E-mail
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </th>
                <th>
                    statut
                    <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
                    <i class="fa fa-chevron-circle-up" aria-hidden="true"></i>
                </th>
                <th>
                    action
                </th>
            </tr>
        </thead>
        <tbody>

        {% for user in listusersemployee %}
            <tr>
            	<td>
            	{{ user.firstname }}
            	</td>
            	<td>
            	{{ user.name }}
            	</td>
            	<td>
            	{{ user.email }}
            	</td>
            	<td>
            	{{ user.status.name}}              
                </td>
            	<td>
            	<ul>
				<a href="{{ path('admin_utilisateurs_delete',{'email':user.email}) }}"><li><i class="fa fa-trash-o" aria-hidden="true"></i>
               delete</li></a>
               <a href="{{ path('admin_utilisateurs_edit',{'email':user.email}) }} "><li><i class="fa fa-pencil" aria-hidden="true"></i> 
               edit</li></a>
               </ul>
            	</ul>
            	</td>
            </tr>
        {% endfor %}

        </tbody>
        </table>
   
 {% if pagination.nbPages > 0 %}
    <ul class="pagination">
        {% if pagination.page > 3 %}
            <li>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': 1})) }}">
                    <<
                </a>
            </li>
        {% endif %}
           {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li {% if p == pagination.page %}class="active"{% endif %}>
                <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}">
                    {{ p }}
                </a>
            </li>
        {% endfor %}
        {% if pagination.page < pagination.nbPages %}
            <li>
                <a href="{{ path(pagination.nomRoute,
                pagination.paramsRoute|merge({'page': pagination.page+1})) }}">
                    >
                </a>
            </li>

       </ul>
{% endif %}
{% endif %}
</div>
</div>
{% endblock body %}
