<div class="col-md-6">
	<h2>Mot de passe oublié</h2>
	<p>Veuillez taper votre nouveau mot de passe.</p>
{{ form_start(form) }}
		<div class="form-group">
			{{ form_label(form.plainPassword.first) }}
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</div>
				{{ form_errors(form.plainPassword.first) }}
				{{ form_widget(form.plainPassword.first) }}
			</div>
			<p class="legende-input">8 caractères minimum dont au moins 1 chiffre et 1 lettre</p>
		</div>
		<div class="form-group">
			{{ form_label(form.plainPassword.second) }}
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-lock" aria-hidden="true"></i>
				</div>
				{{ form_errors(form.plainPassword.second) }}
				{{ form_widget(form.plainPassword.second) }}
			</div>
		</div>
	{{ form_widget(form.save) }}
{{ form_end(form) }}
</div>